/* import poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* root */
:root {
   --dark-green: #18a558;
   --btn-danger: #f93a3a;
}

/* style */
body {
   font-family: "Poppins", sans-serif;
}
.text-success {
   color: var(--dark-green) !important;
}
.active {
   color: var(--dark-green) !important;
   font-weight: 600;
}

section {
   min-height: 100vh;
}

.btn-danger {
   --bs-btn-bg: var(--btn-danger);
   --bs-btn-border-color: #dc3545;
   --bs-btn-hover-bg: #ff2222;
   --bs-btn-hover-border-color: #b02a37;
   --bs-btn-active-bg: var(--btn-danger);
   --bs-btn-active-border-color: #a52834;
   border-radius: 30px;
}

.btn-outline-danger {
   --bs-btn-color: var(--btn-danger);
   --bs-btn-border-color: var(--btn-danger);
   --bs-btn-hover-bg: var(--btn-danger);
   --bs-btn-hover-border-color: var(--btn-danger);
   --bs-btn-active-bg: var(--btn-danger);
   --bs-btn-active-border-color: var(--btn-danger);
   --bs-btn-disabled-color: var(--btn-danger);
   border-radius: 30px;
}

.title-banner {
   font-size: 3.7rem;
}

/* header and nav */
nav {
   transition: ease 0.5s;
}

.circle-jumbotron {
   top: -230px;
   left: -150px;
   height: 500px;
   width: 500px;
   background-color: #18a558;
   border-radius: 50%;
   opacity: 7%;
}

.jumbotron-img img {
   width: 450px;
}

.dekor-bintang {
   left: 0;
   bottom: -30px;
}

.loader-wrapper {
   height: 100vh;
   width: 100%;
   z-index: 9999;
   background-color: #fff;
}
.loader {
   animation: loader 1s forwards;
}

@keyframes loader {
   100% {
      opacity: 0;
      visibility: hidden;
   }
}


/* CONTACT & FOOTER */
textarea {
   resize: none;
}

.contact-card{
   background-color: #F6F6F6;
   box-shadow: 0px 0 30px 0 rgb(209 222 214 / 56%);
   border-radius: 10px;
   z-index: 1;
}

.footer {
   background-color: #212121;
   color: #F6F6F6;
   position: absolute;
    left: 0;
    right: 0;
    top: -280px;
}

.footer ul {
   list-style: none;
   margin-left: -30px;
}

.footer a {
   text-decoration: none;
   color: inherit;
}